<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!-- Font Awsome Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}" />

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

        <!-- JS -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/auto-increase-textarea.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/api-handler.js') }}"></script>

        <title>Movies Ranklist (@shreyansh818bytes)</title>
    </head>
    <body>
        <div class="app-container">
            <!-- Input Box -->
            <div class="container" id="input-container">
                <form
                    action="javascript:postSearchRequest(single_text_input, text_area_input)"
                >
                    <div class="input-group">
                        <input
                            class="form-control"
                            type="search"
                            name="single_text"
                            id="single_text_input"
                            placeholder="Mono movie name goes here!"
                        >
                        <span class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="submit_btn" name="submit_btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>

                    <textarea
                        class="form-control"
                        id="text_area_input"
                        name="multiple_text"
                        placeholder="Multiple movie names can be entered here!&#10;Add year of release in movie name for better search results."
                    ></textarea>
                </form>
            </div>

            <!-- Output Box -->
            <div class="container" id="output-container">
                <div class="container head-container">
                    <h2>My Movie Ranklist</h2>
                    <h3 id="movie-total">{{movies_list.list|length}} Movies Listed</h3>
                </div>

                <div class="container border movie-list-container">
                    {% for movie in movies_list.list %}
                        <div class="container border movie-container" id="{{movie.id}}">
                            <!-- Movie Backdrop -->
                            <div
                                class="logo-box-container"
                            >
                                <img
                                    src="{{ movie.logo_url }}"
                                    alt="Not found"
                                    class="logo-box"
                                />
                                <!-- Movie Rank Indicator -->
                                <span class="movie-rank-indicator float-top">
                                    {{ loop.index }}
                                </span>
                                <!-- Poster download button -->
                                <a
                                    class="icon-button link-button-over-image"
                                    href="{{movie.logo_url}}"
                                    target="_blank"
                                >
                                    <img
                                        class="filter-neutral"
                                        style="width: 15px;height: 15px;"
                                        src="{{ url_for('static', filename='assets/link-square.svg') }}"
                                    />
                                </a>
                            </div>

                            <!-- Flex Container for responsiveness -->
                            <div class="movie-info-container">
                                <!-- Title and Year Headers -->
                                <div class="title-year-container text-warp">
                                    <span>
                                        {{ movie.title }}
                                    </span>
                                    <h3>
                                        {% if movie.year %}
                                            {{ movie.year }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </h3>
                                </div>

                                <!-- Individual Score Pills -->
                                <div class="d-inline-flex my-1">
                                    {% if movie.imdb_data.rating %}
                                        <a href="{{movie.imdb_data.page_url}}" target="_blank" class="icon-text-pill custom-link">
                                            <img src="{{ url_for('static', filename='assets/imdb-icon.svg') }}" />
                                            <p>
                                                {{ movie.imdb_data.rating }}
                                            </p>
                                        </a>
                                    {% endif %}
                                    {% if movie.rt_data.rating %}
                                        <a href="{{movie.rt_data.page_url}}" target="_blank" class="icon-text-pill custom-link">
                                            <img src="{{ url_for('static', filename='assets/rt-icon.svg') }}" />
                                            <p>
                                                {{ movie.rt_data.rating }}
                                            </p>
                                        </a>
                                    {% endif %}
                                    {% if movie.tmdb_data.rating %}
                                        <a href="{{movie.tmdb_data.page_url}}" target="_blank" class="icon-text-pill custom-link">
                                            <img src="{{ url_for('static', filename='assets/tmdb-icon.svg') }}" />
                                            <p>
                                                {{ movie.tmdb_data.rating }}
                                            </p>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Average Score Pill -->
                            <div class="rounded-pill avg-score">
                                {% if movie.average_score %}
                                    {{ '%.1f' % movie.average_score|float }}
                                {% else %}
                                    --
                                {% endif %}
                            </div>

                            <!-- Delete Button -->
                            <button
                                class="icon-button delete-button float-bottom"
                                type="submit"
                                name="{{movie.id}}"
                                id="{{movie.id}}-dlt-btn"
                                onclick="postDeleteRequest(this.name)"
                            >
                                <img src="{{ url_for('static', filename='/assets/delete.svg') }}" />
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container">
            <footer class="py-3 my-4 border-top footer-container">
                <div class="d-flex align-items-center sign">
                    Developed by&nbsp;<a target="_blank" href="https://www.github.com/shreyansh818bytes">@shreyansh818bytes</a>
                </div>
                <ul class="nav list-unstyled d-flex align-items-center icons">
                    <li class="ms-3">
                        <a class="text-muted" href="https://twitter.com/shr818bytes">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-muted" href="https://www.linkedin.com/in/shreyansh818bytes">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-muted" href="https://www.github.com/shreyansh818bytes">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-muted" href="https://www.instagram.com/shreyansh.sdei">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
